@using DemoShop.Infrastructure
@model IEnumerable<DemoShop.Models.Product>

@{
    ViewBag.Title = "DisabledProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="bg-info">
    <div class="row container_content">
        <div class="col-12 text-center UpSiteMapIconLogin"> <spam id="ManageMenuSiteMap">@Html.MvcSiteMap().SiteMapPath()</spam></div>
        <div class="col-12 UnderSiteMapIconLogin"><img alt="Obraz konta" src="@Url.Icons("icons8-delete-104.png")" /></div>
    </div>
</section>

<section class="bg-white moreMargin" style="margin-top:50px;">
  
        <div class="row container_content">
        
                    @foreach (var product in Model)
                    {
                        <div class="col-md-3 col-12 col-sm-6" id="@product.ProductTitle">
                            <div class="item-product">
                                <div class="product-img-wrapper">
                                    <a href="@Url.Action("AdminDetails","Store", new { id = product.ProductID})">
                                        <img src="@Url.Products(product.FileNamePhoto)" class="img-fluid" alt="@product.ProductTitle">
                                    </a>
                                    <div>
                                        <a href="@Url.Action("AdminDetails","Store", new { id = product.ProductID})" class="btn">Zobacz&nbsp;<i class="fa fa-search"></i></a>
                                    </div>
                                </div><hr />
                                <h3><a href="@Url.Action("AdminDetails","Store", new { id = product.ProductID})">@product.ProductTitle</a></h3>
                                <h4><a href="@Url.Action("AdminDetails","Store", new { id = product.ProductID})">@product.Description</a></h4>
                                <div class="product-price">@product.Price zł</div>
                                <a href="@Url.Action("AddToShoppingCart","ShoppingCart", new { id = product.ProductID })" class="btn add2cart">
                                    Kup&nbsp;<i class="fa fa-cart-plus"></i>
                                </a>
                                @if (product.TheBestProduct == true)
                                {
                                    <div class="overlay overlay-bestseller"></div>
                                }
                                else if (product.Promotion == true)
                                {
                                    <div class="overlay overlay-promotion"></div>
                                }

                            </div>
                        </div>

                    }

                </div>
            

        </section>

