@{
    ViewBag.Title = "Home Page";
}
@*<div class="container_content">
        <div class="jumbotron">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>*@
<div class="jumbotron-index jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Witaj w Demo-Shop MD</h1>
        <p class="lead">Jest to wersja demonstracyjna sklepu internetowego. Zapraszam do zapozanania sie z jego możliwościami.</p>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Kategorie produktów:</h2>
                <hr class="light">

            </div>
        </div>
        <div class="menu-horizontal text-center">
            <ul>
                <li>
                    <a style="background-image: url(@Url.Content("~/Content/IconsMenuProduct/icons8-protect-30.png"))" href="protect">
                        Zabezpieczenia
                    </a>
                </li>
                <li>
                    <a style="background-image: url(@Url.Content("~/Content/IconsMenuProduct/icons8-beach-ball-30.png"))" href="ball">
                        Zabawki
                    </a>
                </li>
                <li>
                    <a style="background-image: url(@Url.Content("~/Content/IconsMenuProduct/icons8-clothes-30.png"))" href="clothes">
                        Ubrania
                    </a>
                </li>
                <li>
                    <a style="background-image: url(@Url.Content("~/Content/IconsMenuProduct/icons8-school-30.png"))" href="school">
                        Edukacja
                    </a>
                </li>
                <li>
                    <a style="background-image: url(@Url.Content("~/Content/IconsMenuProduct/icons8-musical-notes-30.png"))" href="musial">
                        Instumenty
                    </a>
                </li>
                <li>
                    <a style="background-image: url(@Url.Content("~/Content/IconsMenuProduct/icons8-video-camera-30.png"))" href="camera">
                        Monitoring
                    </a>
                </li>
                <li>
                    <a style="background-image: url(@Url.Content("~/Content/IconsMenuProduct/icons8-design-30.png"))" href="design">
                        Przybory
                    </a>
                </li>
                <li>
                    <a style="background-image: url(@Url.Content("~/Content/IconsMenuProduct/icons8-select-all-30.png"))" href="selectall">
                        Inne
                    </a>
                </li>
            </ul>

        </div>

    </div>
</div>




<section class="bg-white">
    <div class="container con-newproduct">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Nowości w sklepie:</h2>

            </div>
        </div>
    </div>


    <div class="row container_content">
        <div class="col-md-3 col-12 col-sm-6">
            <div class="item-product">
                <div class="product-img-wrapper">
                    <img src="~/Content/Images-products/pexels-photo-158838.jpeg" class="img-fluid" alt="Bączek do bączkania">
                    <div>
                        <a href="#" class="btn">Zobacz&nbsp;<i class="fa fa-search"></i></a>
                    </div>
                </div><hr />
                <h3><a href="shop-item.html">Bączek do bączkania</a></h3>
                <div class="product-price">55zł</div>
                <a href="javascript:;" class="btn add2cart">
                    Kup&nbsp;<i class="fa fa-cart-plus"></i>
                </a>
                <div class="overlay overlay-new"></div>
            </div>
        </div>
        <div class="col-md-3 col-12 col-sm-6">
            <div class="item-product">
                <div class="product-img-wrapper">
                    <img src="~/Content/Images-products/pexels-photo.jpg" class="img-fluid" alt="Bączek do bączkania">
                    <div>
                        <a href="#" class="btn">Zobacz&nbsp;<i class="fa fa-search"></i></a>
                    </div>
                </div><hr />
                <h3><a href="shop-item.html">Kostka hazardzisty</a></h3>
                <div class="product-price">55zł</div>
                <a href="javascript:;" class="btn add2cart">
                    Kup&nbsp;<i class="fa fa-cart-plus"></i>
                </a>
                <div class="overlay overlay-new"></div>
            </div>
        </div>
        <div class="col-md-3 col-12 col-sm-6">
            <div class="item-product">
                <div class="product-img-wrapper">
                    <img src="~/Content/Images-products/still-life-teddy-white-read-159080.jpeg" class="img-fluid" alt="Bączek do bączkania">
                    <div>
                        <a href="#" class="btn">Zobacz&nbsp;<i class="fa fa-search"></i></a>
                    </div>
                </div><hr />
                <h3><a href="shop-item.html">Miś czytaluś</a></h3>
                <div class="product-price">55zł</div>
                <a href="javascript:;" class="btn add2cart">
                    Kup&nbsp;<i class="fa fa-cart-plus"></i>
                </a>
                <div class="overlay overlay-new"></div>
            </div>
        </div>
        <div class="col-md-3 col-12 col-sm-6">
            <div class="item-product">
                <div class="product-img-wrapper">
                    <img src="~/Content/Images-products/toy-donkey-plush-animal-63634.jpeg" class="img-fluid" alt="Bączek do bączkania">
                    <div>
                        <a href="#" class="btn">Zobacz&nbsp;<i class="fa fa-search"></i></a>
                    </div>
                </div><hr />
                <h3><a href="shop-item.html">Lama obserwacyjna</a></h3>
                <div class="product-price">55zł</div>
                <a href="javascript:;" class="btn add2cart">
                    Kup&nbsp;<i class="fa fa-cart-plus"></i>
                </a>
                <div class="overlay overlay-new"></div>
            </div>
        </div>
    </div>

</section>



<section class="bg-white">
    <div class="container con-promotion">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Aktulane promocje:</h2>
            </div>
        </div>
    </div>


    <div class="row container_content">
        <div class="col-md-3 col-12 col-sm-6">
            <div class="item-product">
                <div class="product-img-wrapper">
                    <img src="~/Content/Images-products/pexels-photo-158838.jpeg" class="img-fluid" alt="Bączek do bączkania">
                    <div>
                        <a href="#" class="btn">Zobacz&nbsp;<i class="fa fa-search"></i></a>
                    </div>
                </div><hr />
                <h3><a href="shop-item.html">Bączek do bączkania</a></h3>
                <div class="product-price">55zł</div>
                <a href="javascript:;" class="btn add2cart">
                    Kup&nbsp;<i class="fa fa-cart-plus"></i>
                </a>
                <div class="overlay overlay-promotion"></div>
            </div>
        </div>
        <div class="col-md-3 col-12 col-sm-6">
            <div class="item-product">
                <div class="product-img-wrapper">
                    <img src="~/Content/Images-products/pexels-photo.jpg" class="img-fluid" alt="Bączek do bączkania">
                    <div>
                        <a href="#" class="btn">Zobacz&nbsp;<i class="fa fa-search"></i></a>
                    </div>
                </div><hr />
                <h3><a href="shop-item.html">Kostka hazardzisty</a></h3>
                <div class="product-price">55zł</div>
                <a href="javascript:;" class="btn add2cart">
                    Kup&nbsp;<i class="fa fa-cart-plus"></i>
                </a>
                <div class="overlay overlay-promotion"></div>
            </div>
        </div>
        <div class="col-md-3 col-12 col-sm-6">
            <div class="item-product">
                <div class="product-img-wrapper">
                    <img src="~/Content/Images-products/still-life-teddy-white-read-159080.jpeg" class="img-fluid" alt="Bączek do bączkania">
                    <div>
                        <a href="#" class="btn">Zobacz&nbsp;<i class="fa fa-search"></i></a>
                    </div>
                </div><hr />
                <h3><a href="shop-item.html">Miś czytaluś</a></h3>
                <div class="product-price">55zł</div>
                <a href="javascript:;" class="btn add2cart">
                    Kup&nbsp;<i class="fa fa-cart-plus"></i>
                </a>
                <div class="overlay overlay-promotion"></div>
            </div>
        </div>
        <div class="col-md-3 col-12 col-sm-6">
            <div class="item-product">
                <div class="product-img-wrapper">
                    <img src="~/Content/Images-products/toy-donkey-plush-animal-63634.jpeg" class="img-fluid" alt="Bączek do bączkania">
                    <div>
                        <a href="#" class="btn">Zobacz&nbsp;<i class="fa fa-search"></i></a>
                    </div>
                </div><hr />
                <h3><a href="shop-item.html">Lama obserwacyjna</a></h3>
                <div class="product-price">55zł</div>
                <a href="javascript:;" class="btn add2cart">
                    Kup&nbsp;<i class="fa fa-cart-plus"></i>
                </a>
                <div class="overlay overlay-promotion"></div>

            </div>
        </div>
    </div>

</section>



<section class="bg-white">
    <div class="container con-bestseller">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Najlepiej sprzedające się:</h2>
            </div>
        </div>
    </div>


    <div class="row container_content">
        <div class="col-md-3 col-12 col-sm-6">
            <div class="item-product">
                <div class="product-img-wrapper">
                    <img src="~/Content/Images-products/pexels-photo-158838.jpeg" class="img-fluid" alt="Bączek do bączkania">
                    <div>
                        <a href="#" class="btn">Zobacz&nbsp;<i class="fa fa-search"></i></a>

                    </div>
                </div><hr />
                <h3><a href="shop-item.html">Bączek do bączkania</a></h3>
                <div class="product-price">55zł</div>
                <a href="javascript:;" class="btn add2cart">
                    Kup&nbsp;<i class="fa fa-cart-plus"></i>
                </a>
                <div class="overlay overlay-bestseller"></div>
            </div>
        </div>
        <div class="col-md-3 col-12 col-sm-6">
            <div class="item-product">
                <div class="product-img-wrapper">
                    <img src="~/Content/Images-products/pexels-photo.jpg" class="img-fluid" alt="Bączek do bączkania">
                    <div>
                        <a href="#" class="btn">Zobacz&nbsp;<i class="fa fa-search"></i></a>

                    </div>
                </div><hr />
                <h3><a href="shop-item.html">Kostka hazardzisty</a></h3>
                <div class="product-price">55zł</div>
                <a href="javascript:;" class="btn add2cart">
                    Kup&nbsp;<i class="fa fa-cart-plus"></i>
                </a>
                <div class="overlay overlay-bestseller"></div>
            </div>
        </div>
        <div class="col-md-3 col-12 col-sm-6">
            <div class="item-product">
                <div class="product-img-wrapper">
                    <img src="~/Content/Images-products/still-life-teddy-white-read-159080.jpeg" class="img-fluid" alt="Bączek do bączkania">
                    <div>
                        <a href="#" class="btn">Zobacz&nbsp;<i class="fa fa-search"></i></a>

                    </div>
                </div><hr />
                <h3><a href="shop-item.html">Miś czytaluś</a></h3>
                <div class="product-price">55zł</div>
                <a href="javascript:;" class="btn add2cart">
                    Kup&nbsp;<i class="fa fa-cart-plus"></i>
                </a>
                <div class="overlay overlay-bestseller"></div>
            </div>
        </div>
        <div class="col-md-3 col-12 col-sm-6">
            <div class="item-product">
                <div class="product-img-wrapper">
                    <img src="~/Content/Images-products/toy-donkey-plush-animal-63634.jpeg" class="img-fluid" alt="Bączek do bączkania">
                    <div>
                        <a href="#" class="btn">Zobacz&nbsp;<i class="fa fa-search"></i></a>

                    </div>
                </div><hr />
                <h3><a href="shop-item.html">Lama obserwacyjna</a></h3>
                <div class="product-price">55zł</div>
                <a href="javascript:;" class="btn add2cart">
                    Kup&nbsp;<i class="fa fa-cart-plus"></i>
                </a>
                <div class="overlay overlay-bestseller"></div>

            </div>
        </div>

    </div>

</section>



<h1 class="text-center margintopsmall"> Nasi partnerzy:</h1>
<section class="regular slider container">
    <div>
        <img src="~/Content/Partners/biobattery.png" />
    </div>
    <div>
        <img src="~/Content/Partners/certcenters.png" />
    </div>
    <div>
        <img src="~/Content/Partners/dzieckoSPZ.png" />
    </div>
    <div>
        <img src="~/Content/Partners/zabop.png" />
    </div>
    <div>
        <img src="~/Content/Partners/nonfire.png" />
    </div>
    <div>
        <img src="~/Content/Partners/safetoys.png" />
    </div>
    <div>
        <img src="~/Content/Partners/securepay.png" />
    </div>
    <div>
        <img src="~/Content/Partners/zdrowie.png" />
    </div>
</section>

<div class="intro-header">
    <div class="container-neswletter" align="center">
        <div class="container">
            <div class="tab-content custom-tab-content" align="center">
                <h1>Newsletter!</h1>
                <p>Zapisz się do newslettera i bądź na bieżąco z wszystkimi nowinkami w sklepie!</p>

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">

                        <input type="text" class="form-control input-lg" name="email" id="email" placeholder="Enter your Email" />

                    </div>   <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button class="btn btn-light newsletterbtn">Zapisz się!</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>






@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $(".regular").slick({
                dots: true,
                infinite: true,
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1000,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }]
            });
        });
    </script>
}